[Desktop Entry]
Encoding=UTF-8
Name=FireBird
Comment[es]=SMail Client
Exec=firebird
Terminal=0
Type=Application
Icon=/usr/share/firebird/icons/icon.ico
Categories=Communication;
